*{
    box-sizing: border-box;
  
}
body{
    background: rgb(26, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family:sans-serif;
    background-image: url(back.jpg);
}
.container{
    background-color:rgba(255, 255, 255,0.6);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    width: 400px;
    max-width: 100%;
    overflow: hidden;

}
.header{
    background-color: #7f7f7f;
    border-bottom: 1px solid #f0f0f0;
    padding:20px 40px;
    text-align: center;
    color:#A52A2A;
    
}
.header h2{
    margin: 0;
}
.form{
    padding:30px 40px;
}
.form-control{
   margin-bottom: 10px; 
   padding-bottom: 20px;
   position: relative;
}
.form-control label{
    display: inline-block;
    margin-bottom: 5px;
}
.form-control input{
    border: 2px solid #f0f0f0;
    display: block;
    width: 100%;
    padding:10px;
    font-size: 14px;
    font-family: inherit;
    border-radius: 5px;
    outline: none;
}
.form-control.success input{
    border-color:#2ecc71;

}
.form-control.error input{
    border-color:#e47c3c;

}
.form-control i{
    font-size: 10px;
    position: absolute;
    top:40px;
    right: 10px;
    visibility: hidden;
}
.form-control.success i.fa-check-circle{
    visibility: visible;
    color:#2ecc71;
} 
.form-control.error i.fa-exclamation-circle{
    visibility: visible;
    color:#e47c3c;
} 
.form-control small{
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}
.form-control.error small{
    visibility: visible;
    color:#e47c3c;
}
.form button{
    background: #8effcd;
    border: 2px solid #8e44cd;
    color:black;
    display: block;
    width: 100%;
    padding:10px;
    font-size: 16px;
    font-family: inherit;
    border-radius: 4px;
    font-weight: bold;

}
